<div class="component-login">
  <!-- <h1 style="position: absolute; top: 1rem; left: 1rem; color: #fff">@nhadaiphat</h1> -->
  <div fxLayout=" row" fxLayoutAlign="center center" class="h-100 bg-primary color-white" style="height: 100%">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card>
        <div fxLayoutAlign="center center" class="py-1">
          <img src="/assets/logo-full.png" alt="Nhà Đại Phát">
        </div>
        <p class="px-1" style="font-size: 3em; margin: 0" fxLayoutAlign="center center">Không tìm thấy!</p>
        <p class="p-1" style="font-size: 1.6em; margin: 0" fxLayoutAlign="center center">Xin lỗi, trang bạn cần tìm không tồn tại.
        </p>
        <div fxLayout="row wrap" class="p-1" fxLayoutAlign="center center">
          <button mat-raised-button style="margin-right: 1rem; width: 9rem" (click)="routeToSignInPage()" color="primary">Trang đăng nhập</button>
          <button mat-raised-button style="width: 9rem" color="primary" (click)="back()">Quay lại</button>
          <!-- <a href="mailto:support@nhadaiphat.vn ">
                <button mat-raised-button style="width: 9rem ">Liên hệ</button>
              </a> -->
        </div>
        <!-- <div class="pt-1 " fxLayoutAlign="center center ">
              <mat-icon class="mr-4p ">copyright</mat-icon>2018@nhadaiphat
            </div> -->
      </mat-card>
    </div>
  </div>

</div>