@import '../mixins';
@import '../variables';
@mixin sidenav($primary, $background) {
  $transition-duration: 300ms !default;
  $sidebar-width: 15rem !default;
  mat-sidenav.sidebar-panel {
    width: 250px !important;
    position: absolute!important;
    overflow-x: hidden;
    width: $sidebar-width;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)!important;
    .mat-drawer-focus-trap>.cdk-focus-trap-content {
      position: relative;
    }
    >nav {
      min-width: $sidebar-width;
    }
    .mat-list-item .mat-list-item-content {
      display: block;
      height: auto;
      max-height: 48px;
      overflow: hidden;
      padding: 0;
      -webkit-transition: max-height .3s cubic-bezier(.35, 0, .25, 1);
      -moz-transition: max-height .3s cubic-bezier(.35, 0, .25, 1);
      transition: max-height .3s cubic-bezier(.35, 0, .25, 1);
    }
    .mat-list-item {
      font-size: 14px;
      height: auto;
      background-color: transparent;
      -webkit-transition: background-color .3s cubic-bezier(.35, 0, .25, 1);
      -moz-transition: background-color .3s cubic-bezier(.35, 0, .25, 1);
      transition: background-color .3s cubic-bezier(.35, 0, .25, 1);
    }
    .mat-list-item.open>.mat-list-item-content {
      max-height: 2000px;
      background: mat-color($background, 'hover');
    }
    .mat-nav-list {
      background-color: $color-white;
      .mat-list-item {
        background-color: $color-white;
        color: mat-color($primary, darker);
      }
    }
    .mat-nav-list a {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 48px;
      padding: 0 16px;
    }
    .sub-menu {
      padding-top: 0;
      overflow: hidden;
      transition: .5s max-height cubic-bezier(.35, 0, .25, 1);
      max-height: 0;
      transform: translateZ(0)!important;
    }
    .sub-menu a {
      @include padding-left(64px);
    }
    .sub-menu .sub-menu a {
      @include padding-left(64px + 16px);
    }
    .sub-menu .sub-menu .sub-menu a {
      @include padding-left(64px + 32px);
    }
    .sub-menu .sub-menu .sub-menu .sub-menu a {
      @include padding-left(64px + 48px);
    }
    .navigation {
      mat-icon:not(.menu-caret) {
        @include margin-right(24px);
      }
      .menu-caret {
        display: inline-block;
        transition: transform $transition-duration cubic-bezier(.7, 0, .3, 1);
        @include float(right);
        @include margin-left(.3125rem);
        text-align: center;
      }
      .open>.mat-list-item-content>[appAccordionToggle]>.menu-caret {
        @include rotate(-180deg);
      }
      .menu-badge {
        display: inline-block;
        height: 16px;
        min-width: 10px;
        line-height: 18px;
        text-align: center;
        border-radius: 16px;
        font-size: 10px;
        font-weight: 700;
        padding: 0 4px;
      }
      .open>.mat-list-item-content>.sub-menu {
        max-height: 2000px;
      }
    }
  }
  .top-bar {
    height: $height-top-bar;
    padding: 0 .5rem;
  }
  // @media only screen and (max-width: 600px) {
  //   .top-bar {
  //     padding: unset;
  //   }
  // }
  .inner-sidenav-content {
    position: absolute;
    top: $height-top-bar;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    height: calc(100vh - #{$height-top-bar});
  }
}