.cal-total-pour-and-push-in-rating-sources {
  .container {
    // min-width: 910px;
    width: 100%;
  }
  .rating-color {
    max-height: 23px;
  }
  .total-rating-points {
    min-width: 140px;
    margin: 0 3px;
    background-color: #ff1493; // cadetblue
    color: white;
    padding: 3px 6px;
  }
}
