@import 'customs';
@import 'mixins';
@import 'variables';
@mixin theme-reset($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  //
  @include sidenav($primary, $background);
  // 
  @include component-size($primary);
}