// customs/component
$height-top-bar: 56px;
$height-toolbar-primary: 64px;
$height-bottom: 16px;
$height-toolbar-header: 64px;
$height-toolbar-action: 40px;
$height-mobile-address: 60px;
// border-radius
// $border-radius-4p: 4px;
// $border-line-default: 1px solid rgba(0, 0, 0, .12);
// $border-line-default-2p: 2px solid rgba(0, 0, 0, .12);
// // color
$color-white: #fff;
// $color-black: #000;
// $color-red: #f44336;
// $color-default: #fafafa;
// $color-text: #6a6a6a;
// $color-border: rgba(0, 0, 0, .12);
// $color-blue: #10b8d5;
// $color-grey: #505050;
// $color-purple: #8a8294;
// $color-grey-f5f5f5: #f5f5f5;
// // color-background
// $color-bg-default: #fafafa;
// $color-bg: #607d8b;
//
$flex-distance: 8px;
$inner-sidenav-content-padding: $flex-distance;